<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547044659882-o44ph3kgio5k9ssdgtfasdlbcspuaan6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547044659882-o44ph3kgio5k9ssdgtfasdlbcspuaan6</string>
	<key>API_KEY</key>
	<string>AIzaSyBbxr1wS4VEF_WyLYtUeSrwmiJqYlq6-cA</string>
	<key>GCM_SENDER_ID</key>
	<string>547044659882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>amoran.BakeApp</string>
	<key>PROJECT_ID</key>
	<string>bakeapp-35ce0</string>
	<key>STORAGE_BUCKET</key>
	<string>bakeapp-35ce0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547044659882:ios:ba492562f3ab3d59c736d3</string>
	<key>DATABASE_URL</key>
	<string>https://bakeapp-35ce0.firebaseio.com</string>
</dict>
</plist>